*,*::after,*::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --clr-title: rgb(42, 231, 115);
  --clr-primary: #000;
  --clr-secondary: #fff;
  --clr-footer: rgb(14, 73, 131);
  --clr-accent1: #39f;
  --clr-danger: rgb(224, 31, 47);
}
ul{
  list-style: none;
}

h1{
  font-size: 2.5em;
  text-align: center;
  padding: .5em ;
  background-color: var(--clr-title);
  color: var(--clr-secondary);
}
h2{
  font-size: 1.75em;
}
h3{
  font-size: 1.25em;
  text-align: center;
}
a{
  text-decoration: none;
}
.column{
  display: flex;
  flex-direction: column;
}
.row{
  display: flex;
  flex-direction: row;
}
.btn{
  text-align: center;
  font-weight: 900;
  padding: .5em 1em;
  font-size: 1.5em;
}
.total{
  justify-content: space-evenly;
}
.positive{
  color: rgb(36, 238, 10) !important;
}
.negative{
  color: var(--clr-danger) !important;
}
.icon{
  width: 2em;
  height: 2em;
  fill: currentColor;
}
.home,
.account,
.transaction,
.accountForm{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  align-items: stretch;
}
.home ul
{
  flex: 1 1 0;
  overflow-y: auto;
}
.home ul li{
  position: relative;
}
.home ul li+li{
  border-top: 1px solid var(--clr-accent1);
}
.home ul li a{
  font-size: 1.2em;
  padding: .75em 1em;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.home ul li a span{
  flex:  4 1 ;
  color: var(--clr-primary);
}

.home ul li a span:nth-child(2){
  flex:   1 1 ;
}
.home >h3,
.account >h3{
  background-color: var(--clr-footer);
  color: var(--clr-secondary);
  box-shadow: 0px -5px 5px #0003;
}
.account p{
  padding: .25em 1em;
  text-align: center;
}
.home .btn,
.account .btn,
.transaction .btn,
.accountForm .btn{
  background-color: var(--clr-accent1);
  color: var(--clr-secondary);
}
.panel{
  background-color: var(--clr-title);
  color: var(--clr-secondary);
  box-shadow: 0px 5px 5px #0003;
}
.panel h3{
  background-color: transparent;
}
.panel .row{
  justify-content: space-around;
}
.panel .row > span{
  flex: 1 1;
}
.panel .row .btn{
  width: 100%;
  padding: .5em;
  font-size: .75em;
  flex: 1 1;
  color: var(--clr-secondary);
  border: 1px solid var(--clr-title);
  background-color: var(--clr-accent1);
}
.panel .row .btn.phone{
  background-color: rgb(45, 228, 21);
}
.panel .row .btn.whatsapp{
  background-color: rgb(32, 192, 40);
}
.panel .row .btn.trash{
  background-color: var(--clr-danger);
}
.account .table{
  flex: 1 1 0;
  overflow-y: auto;
}
.account .table table{
  width: 100%;
}
.account table tr td{
  text-align: center;
}
.account table .btn{
  background: transparent;
  border: none;
  font-size: .75em;
  padding: .25em;
}
.account table .btn.trash{
  color: var(--clr-danger);
}
.account table .btn.pen{
  color: var(--clr-accent1);
}

.account .modal> div{
  background-color: var(--clr-footer);
  width: 80%;
  padding: .5em;
  color: var(--clr-secondary);
  box-shadow: 0 0 5px #0004;
}
.account .modal button.btn,
.account table .modal button.btn{
  border: none;
  margin: .5em;
  font-size: 1em;
  width: max-content;
}
.account table .modal .btn.trash{
  background-color: var(--clr-danger);
  color: var(--clr-secondary);
}
.transaction .btn,
.accountForm .btn{
  border: none;
}
.transaction fieldset,
.accountForm fieldset{
  flex: 1 1 ;
  border: none;
}
.transaction label,
.accountForm label{
  display: block;
  text-align: center;
}
.transaction input,
.transaction textarea,
.accountForm input,
.accountForm textarea{
  display: block;
  width: 100%;
  font-size: 1.5em;
  padding: .25em .5em;
  text-align: center;
}
.amountNegative{
  margin-top: 1em;
  width: 100%;
  height: 2em;
  position: relative;
}
.amountNegative::before{
  content: '';
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #c4c6d0;
}
.amountNegative::after{
  content: 'Credit';
  height: 100%;
  position: absolute;
  width: 50%;
  top: 0;
  left: 0;
  background-color: var(--clr-title);
  transition: all .25s ease-in-out;
  color: var(--clr-secondary);
  justify-items: center;
  line-height: 2em;
}
.amountNegative:checked::after{
  left: 50%;
  background-color: var(--clr-danger);
  content: 'Debt';
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

